<!--
============================================
; Title: EMS
; Author: Karie Funk
; Date: 8 September 2019
; Description: FOOTER EJS
;===========================================
-->
<br  /><br  /><br  />
<footer>
  <p>KARIE FUNK | WEB-340 | EMS ASSIGNMENT</p>
</footer>
<style>
  footer {
      background-color: white;
      color: black;
      width: 100%;
    }
  footer p{
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
  }
</style>