<!--
============================================
; Title: EMS
; Author: Karie Funk
; Date: 8 September 2019
; Description: INDEX EJS
;===========================================
-->
<% include header %>
<% include navbar %>
<body>
  <div id="container">
  

  </div>
  <% include list %>
</body>
<% include scripts %>
<% include footer %>



