<!--
============================================
; Title:  EMS -- INDEX EJS
; Author: KARIE FUNK
; Date:   8 SEPT. 2019
; Description: INDEX EJS PAGE
;===========================================
 -->

 <% include header %> 
 <% include navbar %>
 
 <body>
   <div role="main" class="container">
     <br /><br />
 
     <h2>Welcome to Employee Portal</h2>
     <p class="info">Here you can view employee information, enter new employee information, or contact EMS for any questions or concerns.</p>
   </div>
 </body>

 <style>
   h2{
     padding-top:30px;
    }

  .info{
    padding-bottom: 200px;
  }
</style>
 
 <% include footer %>
 <% include scripts %>