<!--
============================================
; Title:  EMS -- NAVBAR EJS
; Author: KARIE FUNK
; Date:   8 SEPT. 2019
; Description: NAVBAR EJS PAGE
;===========================================
 -->
 <nav class="navbar navbar-expand-sm bg-danger navbar-dark">
  <ul class="navbar-nav">
      <a class="navbar-brand" href="#">EMS</a>
      <li class="nav-item active">
         <a class="nav-link" href="/">Home</a>
      </li>

      <li class="nav-item">
         <a class="nav-link" href="/list">Employees</a>
      </li>

      <li class="nav-item">
         <a class="nav-link" href="/contact">Contact Us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/new">New Employee</a>
     </li>

  </ul>
</nav>