<!--
============================================
; Title: EMS
; Author: Karie Funk
; Date: 8 September 2019
; Description: VIEW EJS PAGE TO COME
;===========================================
-->

<% include header %>
<% include navbar %>

<h1>Employee Information</h1>

<% include scripts %>
<% include footer %>